.page {
  background-color: var(--color-dark-3);
}

.content {
  width: calc(100% - var(--width-sidebar) - 150px);
  margin-left: calc(var(--width-sidebar) + 20px);
  padding-top: var(--hight-header);
  height: 10px;
}

.line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel {
  margin-bottom: 15px;
}

.line p {
  /* width: 60%; */
}

.links {
  /* width: 40%; */
}

.links a {
  margin-right: 20px;
}

.links a:hover .link_icon {
  opacity: 1;
}

.link_icon {
  width: 50px;
  height: 50px;
  opacity: 0.6;
  transition: 0.7s;
}

.video_block {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.video_demo {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;

  -webkit-box-shadow: 0px 1px 15px 5px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0px 1px 15px 5px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 15px 5px rgba(255, 255, 255, 0.8);
}

.photo {
  width: 40%;
}
.photo img {
  width: 100%;

  -webkit-box-shadow: 0px 1px 15px 5px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0px 1px 15px 5px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 15px 5px rgba(255, 255, 255, 0.8);
}

.w60 {
  width: 60%;
  margin-right: 40px;
}
.w40 {
  margin-right: 40px;
  width: 40%;
}
